{{ define "main" }}

<style>
    body {
       background-color: #F36109;
      }
</style>

<style>
div.scroller {
    scrollbar-color: hotpink blue;
  }
</style>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script src="https://kit.fontawesome.com/965137fdff.js" crossorigin="anonymous"></script>

<main>
    <div class="portrait-container">
        <img src="{{ "images/portrait.jpg" | relURL }}" width="300" height="300" class="portrait" alt="Portrait" />
    </div>

    <div class="content">
        <h2><b>{{ .Site.Author.name | default "A Very Stable Milking Stool" }}</b></h2>
        <h2>{{ .Site.Author.bio1 | default "Feeding all The Mermaids." }}</h2>
        <h2>{{ .Site.Author.bio2 | default "With all The Kebabs." }}</h2>
        <br>
        <p>{{- partial "introduction.html" . -}}</p>

        <div class="links">
            {{- range .Site.Params.links -}}
                <a rel="me" href="{{ .url }}" title="{{ .title }}">
                    <span class="{{ .iconset | default "fab" }} fa-{{ .icon }}"></span>
                </a>
            {{- end -}}
        </div>
<br>
<br>
    <div id="donate-button-container">
        <div id="donate-button"></div>
        <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
        <script>
        PayPal.Donation.Button({
        env:'production',
        hosted_button_id:'YBPJARX6GV4CG',
        image: {
        src:'https://www.paypalobjects.com/en_GB/i/btn/btn_donate_SM.gif',
        alt:'Donate with PayPal button',
        title:'PayPal - The safer, easier way to pay online!',
        }
        }).render('#donate-button');
        </script>
        </div>

        {{- partial "footer.html" . -}}
    </div>
</main>

{{ end }}
